/* Hoja de estilos */

/*Importacion de fuentes */

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');



/***************************/
/* Variables de uso general*/
:root {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: rgb(34, 40, 49);
    --primary-color: rgb(0, 173, 181);
    --primary-color-2: rgb(0, 89, 94);
    --secondary-color: rgb(57, 62, 70);
    --tertiary-color: rgb(86, 93, 105);

    --text-title: rgb(53, 133, 139);
    --text-color: rgb(238, 238, 238);
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;

}

/* Variables fin */

html {
    scroll-behavior: smooth;

}

/* CSS Resets */
* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}


/* Puntos de corte */

/* mobile first //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
    font-size: 10px;
    background-color: var(--bg-color);

}


/* keyframe */

@keyframes example {
    from {
        background-color: var(--primary-color);
    }

    to {
        background-color: var(--primary-color-2);
    }
}

/* H */

h2 {
    /*margin-right: 100px;*/

    background-color: var(--primary-color);
    font-style: "bold";
    font-size: 5em;
    color: var(--secondary-color);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;


}



h3 {

    background-color: var(--secondary-color);
    font-style: "bold";
    font-size: 4em;
    color: var(--text-color);
}

/*nav */

#navbar {
    background: VAR(--secondary-color);
    position: sticky;
    top: 0;
    box-shadow: ;

}

#navbar .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;


}


#navbar .logo {
    color: var(--text-color);
    margin-left: 0px;
}

#navbar .container ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

#navbar .container ul li {
    list-style: none;
}

#navbar .container ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: .5em 1em;
    margin: 0px 0px;
    border-radius: 0px;

}

.active,
#navbar .container ul li a:hover {
    background-color: var(--orange);
    color: #000 !important;
}


/* section */

#seccion {
    background: VAR(--secondary-color);
    top: 0;
    border-radius: 1%;
    padding: 10px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 2.5vh;
    bottom: 10vh;
}

#seccion .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    padding: .5em 1em;
    row-gap: 5vh;

}

#seccion .container div {
    max-width: 600px;
    background-color: var(--tertiary-color);
    border-radius: 1em;

}


#seccion .container div:hover {


    transform: scale(1.1);
    box-shadow: 0px 0px 30px 3px var(--bg-color);


}

#seccion .container h4 {

    font-style: "bold";
    font-size: 3em;
    color: var(--text-color);
    padding: 1rem;
}

#seccion .container i {

    font-style: "bold";
    font-size: 3em;
    color: var(--text-color);
    padding: 1rem;
}

#seccion .container p {

    padding: 10px;
    color: var(--text-color);


}

#seccion .container form {

    padding: 10px;
    color: var(--text-color);
    border-radius: 3px;


}


#seccion .container fieldset {

    padding: 30px;
    color: var(--text-color);
    border-radius: 3px;


}

#hero {
    background: VAR(--secondary-color);
    top: 0;
    color: var(--text-color);
    border-radius: 1%;
    margin-left: 2.5vw;
    margin-right: 2.5vw;

}

#hero .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: var(--primary-color-2);
    border-width: 10rem;


}

#hero .container div {


    border-radius: 1em;


}

#hero .container h4 {

    font-style: "bold";
    font-size: 3em;
    color: var(--text-color);


}

#hero .container p {

    padding: 10px;
    font-size: 4em;




}

#hero .container img {

    padding: 10px;

    max-width: 75vw;



}


/* cotizacion criptos */

#cotiza {
    background: VAR(--secondary-color);

    top: 0;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 2.5vh;
    color: var(--text-color);
    border-radius: 1px;
}

#cotiza .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


#cotiza .container .coin-price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    margin: 7px;
}

#cotiza .container .coin-price .logo {
    width: 60px;
    margin-right: 10px;
}

#cotiza .container .coin-price .logo img {
    width: 100%;
}

#cotiza .container .coin-price div {
    display: block;
}

#cotiza .container.coin-price div h1 {
    font-size: 20px;
}

#footpage .container {
    display: flex;
    justify-content: space-around;
    color: var(--text-color);
    font-size: 3VW;
    

}





/* tabletas //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 600px) {
    body {
        font-size: 14px;

    }

    nav {
        padding: 1em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: sticky;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        position: sticky;
    }

    #hero .container {

        flex-wrap: wrap;

    }

    #hero .container p {

        font-size: 4em;
        width: 60vw;


    }

    #hero .container img {


        width: 50vw;


    }


}








/* escritorio normales //////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    .textoPrincipal {
        font-size: 18px;
    }



    #hero .container {

        flex-wrap: wrap;


    }

    #hero .container p {


        width: 45vw;
        font-size: 3em;


    }

    #hero .container img {
        width: 25vw;

    }

}








footer {

    background-color: var(--secondary-color);
    font-size: 1.5em;

}













/* Tipo  */





/* Imagen*/

img.alineadaCentro {

    vertical-align: middle;

}



/* Aplicacion de orden a los hijos del contenedor*/

.container :nth-child(1) {
    order: 1;
}

.container :nth-child(2) {
    order: 2;
}

.container :nth-child(3) {
    order: 3;
}

.container :nth-child(4) {
    order: 4;
}

.container :nth-child(5) {
    order: 5;
}